apiVersion: v1
data:
  config.yml: |-
    exposer: Ingress
    domain: ${domain}
    http: true
    tls-acme: true
kind: ConfigMap
metadata:
  name: exposecontroller
  namespace: ${namespace}
---

apiVersion: v1
kind: ServiceAccount
metadata:
  labels:
    app: cad3-exposecontroller
  name: cad3-exposecontroller
  namespace: ${namespace}
---

apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: cad3-exposecontroller
  namespace: ${namespace}
rules:
- apiGroups:
  - extensions
  resources:
  - ingresses
  verbs:
  - get
  - list
  - watch
  - patch
  - create
  - update
  - delete
- apiGroups:
  - ""
  resources:
  - configmaps
  - services
  verbs:
  - get
  - list
  - watch
  - patch
  - update
- apiGroups:
  - extensions
  - apps
  resources:
  - deployments
  verbs:
  - get
  - list
  - watch
  - patch
  - update
- apiGroups:
  - ""
  - "route.openshift.io"
  resources:
  - routes
  - routes/custom-host
  verbs:
  - get
  - list
  - watch
  - patch
  - create
  - update
  - delete
---

apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: cad3-exposecontroller
  namespace: ${namespace}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: cad3-exposecontroller
subjects:
- kind: ServiceAccount
  name: cad3-exposecontroller
  namespace: ${namespace}

---
# Source: exposecontroller/templates/job.yaml
apiVersion: batch/v1
kind: Job
metadata:
  name: cad3-exposecontroller
  labels:
    app: cad3-exposecontroller
  namespace: ${namespace}
spec:
  # backoffLimit: 5
  template:
    metadata:
      name: "expose-jx"
      # istio-proxy prevents job pods from completing if istio is enabled
      # https://github.com/istio/istio/issues/6324
      annotations:
        sidecar.istio.io/inject: "false"
      labels:
        app: cad3-exposecontroller
    spec:
      containers:
      - env:
        - name: KUBERNETES_NAMESPACE
          valueFrom:
            fieldRef:
              fieldPath: metadata.namespace
        image: "gcr.io/jenkinsxio/exposecontroller:2.3.117"
        resources:
          limits:
            cpu: 100m
            memory: 256Mi
          requests:
            cpu: 80m
            memory: 128Mi
        name: exposecontroller
        command: ["/exposecontroller"]
        args:
        - "--v"
        - "4"
      serviceAccountName: cad3-exposecontroller
      restartPolicy: Never
