fullnameOverride: nexus
nameOverride: nexus

nexusAdminPassword: ${default_admin_password}

resources:
  requests:
    cpu: 200m
    memory: 2Gi
podAnnotations:
  cluster-autoscaler.kubernetes.io/safe-to-evict: "false"
persistence:
  enabled: true
  storageSize: ${storage_size}

service:
  enabled: true
  name: nexus
  port: 80
  targetPort: 8081
  portName: nexus-http
  ports: {}
  annotations:
    fabric8.io/expose: "true"
    fabric8.io/ingress.annotations: |-
      kubernetes.io/ingress.class: nginx
      cert-manager.io/cluster-issuer: letsencrypt-prod

ingress:
  enabled: false

nexusProxy:
  enabled: false
